<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a new comment</title>
</head>
<body>
    <section>
    <form action="/main/new_comment" method="POST">
        <label for="user">Enter your Username</label>
        <input type="text" name="username" 
        id="user">
        <textarea name="comment"  cols="30" rows="10"></textarea>
        <button>SUBMIT</button>
    </form>
    </section>
    
</body>
</html>